*{
    margin: 0;
    padding: 0;
    font-style: normal;

}
html{
    scroll-behavior: smooth;
}
body{
    z-index: -1;
    background-color: #0A9DF5;
    scroll-behavior: smooth;
    background-image: url("images/parabolic-rectangle.svg");
}
.navigation{
    color: #c811ff;
    list-style: none;
    text-decoration: none;
    width: 100vw;
    height: 5em;
    background-color: #71ade9;
    border-radius: 1em ; 
    scroll-behavior: smooth;
    position: fixed;
    margin-top: 0;
    z-index: 1111;
    
}
.about-section{
    padding-top: 5em;
}

.skills-heading{
    padding-top: 3em;
}
.work-info{
    padding-top: 5em;
}
ol{
   
    cursor: pointer;
    padding-right: 2em;
    list-style: none;
    float: right;
    display: flex;
    gap: 1em;
    text-wrap: nowrap;
    padding-top: 15px;
}
li{

    font-weight: 700;
    color: #00ffd5;
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
    padding: .5em;
    background-color: #0080ff;
    transition: 80ms;
}
ol li:hover{
    border-radius: 40px;
    text-align: center;
    transform: scale3d(1.1, 1.1, 1.1); 
    background-color: rgb(23, 194, 194);
    transform: translateZ(200%);
    color: white;
   
}

.animated-text .letter{
    display: inline-block;
    animation: moveDesigner 2s infinite;
    
}
a{
    text-decoration: none;
}

.animated-text .letter:nth-child(1){animation-delay: .1s; }
.animated-text .letter:nth-child(2){animation-delay: .2s; }
.animated-text .letter:nth-child(3){animation-delay: .3s; }
.animated-text .letter:nth-child(4){animation-delay: .4s; }
.animated-text .letter:nth-child(5){animation-delay: .5s; }
.animated-text .letter:nth-child(6){animation-delay: .6s; }
.animated-text .letter:nth-child(7){animation-delay: .7s; }
.animated-text .letter:nth-child(8){animation-delay: .8s; }


@keyframes moveDesigner {
    0%{
opacity: 0;
transform: translateX(-20px);
    }
    20%, 80%{
        opacity: 1;
        transform: translateX(0);
    }
    100%{
        opacity: 0;
        transform: translateX(20px);
    }
}

.intro-content{
    color: #ce65ee;
    font-size: xx-large;
    width: 40vw;
    height: 30vh;
    padding-top: 4em;
    padding-left: 1em;
    display: block;
    
}

.web-image{
    border-radius: 2em;
    width: 30vw;
    height: 50vh;
    position: relative;
    float: right;
    justify-content: flex-end;
    margin-top: -12em;
    margin-right: 2em;
}
.wave-divider {
    width: 100%;
    height: 150px;  
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%23fff' d='M0,96L1440,192L1440,320L0,320Z'%3E%3C/path%3E%3C/svg%3E");
    background-size: cover;
    background-position: center;
}
.phalis{
    color: #F50A8C;
    font-size: x-large;
}

.phali-image{
    position: absolute;
    display: block;
    margin-top: 3ch;
   width: 24em;
   height: 24em;
border-radius: 50%;
}
.about{
    color: #d30db5;
    font-size: x-large;
    font-weight: 900;
    margin-top: -1em;
}


.about-me{
    color: aquamarine;
    font-size: larger;
    font-style: oblique;
    text-wrap: wrap;
    z-index: -1111;
    padding-left: 2em;
    position: relative;
    display: block;
   
}

.description{

z-index: 1;
text-wrap: wrap;
width: 55vw;
height: 55vh;
font-size: larger;
display: inline-block;
position: relative;
float: right;


    
}
.unique{
    color: #ca11ae;
    font-style: italic;
    z-index: 1;
}
.intro-description{
    color: #079aad;
    font-size: larger;
    font-weight: 800;
    z-index: 1;
    position: relative;


}
.skills{
    width: 100vw;
    height: fit-content;
    display: block;
    position: relative;
}
.skills-heading{
    color: #6FB0FF;
    display: block;
    position: relative;
    margin-top: 5em;
    justify-content: center;
    margin-left: 2.5em;
    width: 20em;
    height: 3em;

}
i{
    color: rgb(0, 132, 255);
    font-size: 7em;
    gap: 2em;
    padding: .2em;
}
.svg-images{
    font-size: 7em;
    color: rgb(0, 195, 255);
}

.icon-names{
    font-size: medium;
    color: rgb(0, 195, 255);
}

.svg-images {
    display: flex;
    gap: .2em;
    align-items: center;
    font-size: 7rem;
    
}

.svg-container {
    text-align: center;
}
.svg-names{
    font-size: medium;
    color: rgb(0, 195, 255);
    font-weight: 600;
}

.ui-ux{
   width: 1.5em;
   height: 1.5em;
   border-radius: 50%;
   display: flex;
  margin-top: -.5em;
}
.uiImage-style{
    font-size: medium;
    display: flex;
    margin-top: 12em;
    margin-left: -8em;
    font-weight: 600;
    color: rgb(0, 195, 255);
}

.work{
    color: #d30db5;
    font-size: x-large;
    font-weight: 900;
}
.header{
    margin-top: .6em;
    margin-left: 3.5em;
    display: block;
    color: #aa85a5;
    font-size: x-large;
    font-weight: 900;
}

.projects {
    font-family: "Lexend Giga", serif;
    font-optical-sizing: auto;
    color: rgb(21, 255, 0);
  }

  .ecommerce{
    width: 40em;
    height: 40em;
    padding-left: 1em;
    justify-content: space-between;
    border-radius: 2rem;
  }
  .calc{
    padding: 3em;
    width: 30em;
    height: 30em;
    border-radius: 5em;
  }
  .project-name{
    color: #6aa5e9;
  }
.web-links{
    color: red;
}
  .project-description{
    font-family: "Lexend Giga", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    color: #36db27;
  }

  .testimonials{
    color: #d30db5;
    font-size: larger;
    font-weight: 600;
    padding-top: 4em;
  }
  .testimonial{
    color: #06D001;
    text-wrap: wrap;
    font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  font-size: 18px;
  font-style: oblique;
  font-weight: 600;
  }
  .contacts{
    color: #cc6dbe;
    font-size: x-large;
  }
  .contact-message{
    color: rgb(22, 226, 226);
    font-size: x-large;
  }
  .contact-form{
    color: #A3D8FF;
  }

  @media screen and (max-width: 767px) {
    .navigation {
        width: 100vw;
        height: 5em;
        padding-left: 2em;
        font-size: small;
        z-index: 1111;
       
    }
.navigation ol{
    padding-left: 2em;
    color: red;
}
.web-image{
    border-radius: 2em;
    width: 30vw;
    height: 50vh;
    margin-left: 6em;
    margin-top: -8em;
}



    .ecommerce{
        width: 20em;
        height: 20em;
        padding-left: 1em;
        justify-content: space-between;
        border-radius: 2rem;
      }

    ol{
        padding-right: -3em;
        gap: .5em;
        justify-content: center;
        word-wrap: wrap;
    }

    
    .intro-content{
        font-size: 22px;
        padding-top: 4em;
        display:inline-block ;
        z-index: -1;
    }
    .animated-text{
        z-index: -1;
    }
    .about-section{
        margin-top: -12em;
    }

.phali-image{
    margin-top: 2em;
    z-index: -1111;
    width: 20em;
    height: 20em;
    display: flex;
    position: relative;
    transition: 80ms;
}


.about-section{
    padding-top: 15em;
}

.calc{
    width: 20em;
    height: 30em;
    padding: -3em;
}

.skills-heading{
    margin-top: 0;
}

}

@media screen and (min-width: 375px) and (max-width: 400px) {
    .skills{
        margin-top:  10em ;
        display: block;
        position: relative;
    }
    
    
}
@media screen and (min-width: 375px) and (max-width:667px){
.navigation{
    width: 100vw;
    height: 5.5em;
    font-size: small;
    z-index: 1111;
    position: fixed;
}

ol{
    margin-left: 2em;
}
.web-image{
    width: 15em;
    height: 30vh;
    margin-top: 1em;
    position: relative;
    display: block;
    margin-right: 2em;
    margin-top: -2em;
    
}

.phali-image{
    position: relative;
        z-index: -1111;
        width: 14em;
        height: 14em;
        display: block;
        margin-top: 1em;
        margin-bottom: 2em;
    }
   
    
 
  .ecommerce{
    width: 20em;
    height: 20em;
    padding-left: 1em;
    justify-content: space-between;
    border-radius: 2rem;
  }

.description{
    width: 100vw;
    height: 32em;
    display: block;
    position: relative;


}
.skills{
    margin-top:  1em ;
    display: block;
    position: relative;
}

}

@media screen and (min-width: 668px) and (max-width:1354px){

.phali-image{
position: relative;
    z-index: -1111;
    width: 20em;
    height: 20em;
    display: block;
}

.web-image{
    width: 20rem;
    height: 20em;
    float: right;
    justify-content: flex-end;
}
.about-section{
    padding-top: 7em;
    display: block;
    flex-wrap: wrap;
  
}
.description{
    display: block;
    position: relative;
    width: 100vw;
    height: 24em;
}
}
