.navigation,
.navigation ol,
.intro-content,
.logo-image,
.about-section img,
.about-section p,
.identity-description h2,
.projects-title,
.heading,
.skills-section,
.skills-items,
.skills-section img,
.brand-identity,
.work-section img,
.plaauh-image {
  transition: all 0.3s ease-in-out; /* Smooth transition for all properties */
}

@media (max-width: 678px) {
  .navigation {
    width: 90vw;
    color: red;
    height: 3em;
    border-radius: 2px;
    justify-content: center;
  }
  .navigation ol {
    color: red;
    font-size: small;
    margin-bottom: 1.4em;
  }
  .intro-content {
    font-size: x-large;
  }
  .logo-image {
    width: 15em;
    height: 15em;
    margin-top: 4em;
  }
  .about-section {
    text-align: center;
  }
  .about-section img {
    width: 27.5em;
    height: 27.5em;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
  }
  .about-section p {
    display: block;
    width: 100%;
    position: relative;
    color: green;
    font-size: x-large;
    left: -1.2em;
  }
  .identity-description h2,
  .projects-title,
  .heading {
    color: var(--quaternary-color);
    font-size: 1.6em;
    text-align: center;
  }
  .skills-section {
    position: relative;
    display: block;
  }
  .skills-items {
    display: block;
    position: relative;
  }
  .skills-section img {
    display: block;
    width: 30em;
    clear: both;
    margin-top: 3em;
  }
  .brand-identity {
    display: block;
    position: relative;
  }
  .work-section img {
    justify-content: center;
    margin-left: -1em;
    width: 15em;
  }
}

@media (min-width: 678px) and (max-width: 1194px) {
  .skills-section .skills-items {
    font-size: medium;
    color: blue;
  }
  .skills-section {
    margin-top: 15em;
  }
  .skills-section img {
    width: 20em;
    height: 20em;
  }
  .about-section p {
    display: block;
    font-size: x-large;
  }
  .plaauh-image {
    width: 25em;
    height: 25em;
    margin-left: 5em;
  }
}

@media (min-width: 830px) and (max-width: 1194px) {
  .skills-section img {
    width: 35em;
    height: 35em;
  }
}
